{% extends 'base.html.twig' %}

{% block title %}SITE DU MON MARMITON{% endblock %}

{% block body %}

    <div class="row text-center margin-auto d-flex justify-content-center">
        {% for key,recette in recettes %}           

                    <div class="card text-white bg-danger mb-3 p-2" style="width: 590px">
                        {% for photo in recette.photos %}
                            <div class="margin-auto d-flex justify-content-center">
                                    <img src="{{photo.lien}}" class="card-img-top "
                                     style="height:200px; width:300px" alt="{{photo.champAlternatif}}">
                            </div>
                        {% endfor %}
                        <div class="card-body">
                            <h5 >{{recette.nomRecette}} </h5> 
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div>
                                    <span class="font-weight-bold">Liste des ingrédients :</span>
                                    {% for compose in recette.composes %}                           
                                        <p class="m-0">{{compose.ingredient.nomIngredient}} </p>                           
                                    {% endfor %}
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div>
                                    <span class="font-weight-bold">Etapes à suivres :</span>
                                    {% for etape in recette.etapes %}
                                        <p  class="m-0">{{etape.descriptionEtape}} </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                    <span class="font-weight-bold" >Note des internautes :</span>
                                    <p>{{noteGlobale}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <div>
                                    <span class="font-weight-bold" >Commentaires :</span>
                                    {% for commentaire in recette.commentaires %}
                                        <p class="m-0">{{commentaire.libelleCommentaire}} 
                                            {{commentaire.createdAt | date("m/d/Y") }} 
                                            {{commentaire.pseudo}}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div>
                                    <span class="font-weight-bold" >Catégorie :</span>
                                    {% for categorie in recette.categories %}
                                        <p class="m-0">{{categorie.nomCategorie}} </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <form method="post" action="{{ path('avisUtilisateur')}}">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="note" id="note" aria-describedby="emailHelp" placeholder="Votre note">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="commentaire" id="commentaire" placeholder="Votre commentaire">
                                    </div> 
                                    <div>
                                        <input type="hidden" name="recetteId" value="{{recette.id}}">
                                    </div>
                                    <div>
                                        <input type="text" class="form-control mb-2" id="pseudo" name="pseudo" placeholder="Votre pseudo">
                                    </div>
                                    <button type="submit" class="btn btn-success">Soumettre votre commentaire</button>
                                </form>
                            </div>
                        </div>                        
                    </div>     
        {% endfor %}
    </div>
{% endblock %}
